@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:is(.dark *));

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-ring: var(--ring);
    --color-accent: var(--accent);

    /* Typography Overrides */
    --font-sans: "JetBrains Mono Nerd", monospace;
    --font-mono: "JetBrains Mono Nerd", monospace;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    :root {
        --background: oklch(1 0 0);
        --foreground: oklch(0.145 0 0);
        --primary: oklch(0.205 0 0);
        --primary-foreground: oklch(0.985 0 0);
        --muted: oklch(0.97 0 0);
        --muted-foreground: oklch(0.556 0 0);
        --destructive: oklch(0.577 0.245 27.325);
        --border: oklch(0.922 0 0);
        --ring: oklch(0.708 0 0);
        --accent: oklch(96.7% 0.001 286.375);
    }
    .dark {
        --background: oklch(21% 0.006 285.885);
        --foreground: oklch(0.985 0 0);

        --primary: oklch(0.985 0 0);
        --primary-foreground: oklch(0.205 0 0);

        --muted: oklch(0.205 0 0);
        --muted-foreground: oklch(0.708 0 0);

        --border: oklch(0.269 0 0);
        --ring: oklch(0.439 0 0);

        --accent: oklch(0.269 0 0);

        --destructive: oklch(0.704 0.191 22.216);
    }

    @font-face {
        font-family: "JetBrains Mono Nerd";
        src: url("/fonts/jbmono-nerd/fonts/ttf/JetBrainsMono-Light.ttf")
            format("truetype");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "JetBrains Mono Nerd";
        src: url("/fonts/jbmono-nerd/fonts/ttf/JetBrainsMono-Bold.ttf")
            format("truetype");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
}
