---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Homecontent from "@/content/pages/Home.mdx";
---

<Layout>
    <div class="flex flex-col border border-border p-4">
        <div class="font-bold font text-2xl pb-10">Hey, I'm Farhan</div>
        <Homecontent />
    </div>
</Layout>
