---
const { project } = Astro.props;
---

<a
    href={project.url}
    class="flex flex-col space-y-3 px-4 py-5 rounded-lg
         border border-border
         hover:bg-accent transition-colors"
>
    <div>
        <p class="font-bold text-xl tracking-tight">
            {project.title}
        </p>

        <p class="mt-1 text-sm text-muted-foreground">
            {project.details}
        </p>

        <div class="mt-3 flex flex-wrap gap-2">
            {
                project.tags.map((tag) => (
                    <span
                        class="px-2 py-0.5 text-xs rounded-md
                   bg-slate-200 text-slate-700
                   dark:bg-slate-800 dark:text-slate-300"
                    >
                        {tag}
                    </span>
                ))
            }
        </div>
    </div>
</a>
